<div class="search_bar justify-content-md-center">
  <section class="search">
    <div class="sub_media">
      <form [formGroup]="searchForm">
          <div class="container">
            <input type="text" #iptSearch formControlName="searchControl" class="form-control movie-input w-100 p-3" placeholder="Buscar por um Filme, Série ou Pessoa">
            <div class="container box-shadow search-results-box" (mouseleave)="toggle()">
                <ng-container *ngIf="show">
                  <div class="row search-results" *ngFor="let movie of movies?.results">
                    <a [routerLink]="['/', movie.id]">{{movie.title}}</a>
                  </div>
                </ng-container>
              </div>
          </div>
      </form>
    </div>
  </section>
</div>
