.search-results {
    background: white;
    border-bottom: 1px solid #eee;
    padding: 5px 20px;
    color: #666;
}

.search-results:hover {
    background: #01D277;
    font-weight: bold;
    color: #081c24;
}

.search-results:not(:focus){
    display: hidden;
}

.search-results-box{
    display: block;
}
