<div class="search_bar justify-content-md-center">
  <section class="search">
    <div class="sub_media">
      <form id="search_form" action="/search?language=pt" method="get" accept-charset="utf-8">

        <input type="hidden" name="language" value="pt-BR">

        <span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-autocomplete-clearable k-state-default">
          <div class="container">
            <input name="query" type="text" tabindex="2" autocorrect="off" autofill="off" autocomplete="off"
              spellcheck="false" placeholder="Buscar por um Filme, Série ou Pessoa" value="" data-role="autocomplete" class="movie-input w-100 p-3"
              role="textbox" aria-haspopup="true" aria-disabled="false" aria-readonly="false" aria-owns="search_v4_listbox" aria-autocomplete="list">
            <span unselectable="on" class="k-icon k-clear-value k-i-close k-hidden" title="clear" role="button" tabindex="-1"></span>
            <span class="k-icon k-i-loading" style="display:none"></span>
          </div>
        </span>
        <!-- <input type="submit">        <input type="submit"> -->
      </form>
    </div>
  </section>
</div>
