div.header.large.first:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  filter: opacity(0) grayscale(100%) contrast(130%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  will-change: opacity;
  transition: filter 1s;
}

div.header.large.first.lazyloaded:before {
  filter: opacity(100) grayscale(100%) contrast(130%);
}

div.custom_bg {
    background-image: radial-gradient(circle at 20% 50%, rgba(66, 60, 119, 0.9) 0%, rgba(24, 82, 79, 0.9) 100%);
    padding: 70px 0 30px;
    color: white;
}

.inner-submenu {
  border-bottom: 1px solid #e6e6e6;
  line-height: 3em;
  font-weight: bold;
}

@media (min-width: 991.98px) {
  .inner-submenu {
    height: 60px;
  }
}

.movie-info{
    background: #eee;
    padding: 20px;
    color: #666;
}

.avaliacao {
    border-radius: 50%;
    background: #081c24;
    width: 60px;
    height: 60px;
    border: 4px solid #01d277; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.4rem;
}


